
@font-face {
  font-family: Supreme;
  src: url("/fonts/SupremeLL-Light.otf");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "OpenType";
  src: url("/fonts/SupremeLL-Medium.otf");
  font-style: medium;
  font-display: optional;
}

html,
body {
  color:#FEF6E9;
  background-color: #2D3A4F;
  padding: 0;
  margin: 0;
  font-family: Supreme;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
