.container {
  width: 867px;
  height: 867px;
  left: 0px;
  top: 0px;
}


.navContainer {
  position: absolute;
  width: 283px;
  height: 787px;
  left: 40px;
  top: 40px;

  background: #2D3A4F;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.navContainer a {
  color: #849D95;
  font-size: 14px;
  font-style: normal;
  top: 40px;
  padding: 0px;
  margin: 10px;
  cursor: pointer;


  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.navContainer li{
  list-style: none;
}

.navContainer a:hover,
.navContainer a:focus,
.navContainer a:active {
  color:#FEF6E9;
}

.nav {
  position: absolute;
  top: 20px;
}

.mainMenu {
  position: absolute;
  width: 250px;
  height: 138px;
  top: 30px;
}

.bar {
  position: absolute;
  left: 50px;
  top: 200px;
}

.settings {
  position: absolute;
  width: 250px;
  height: 159px;
  top: 220px;
}


.mainContainer {
  position: absolute;
  width: 1037px;
  height: 789px;
  left: 366px;
  top: 36px;
  
  background: #2D3A4F;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.saveContainer {
  position: absolute;
  width: 189px;
  height: 41px;
  left: 820px;
  top: 30px;
 
  display:flex;
  flex-direction: row;
  align-items: center;
}

.discard {
  font-family: Supreme;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163.19%;
  /* or 29px */
 
  color: #FEF6E9;
}

.discard a {
  height: 41px;
  width: 93px;
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.discard a:hover {
  cursor: pointer;
}

.save {
  font-family: Supreme;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* or 29px */
  
  color: #2D3A4F;
}

.save a{
  height: 41px;
  width: 93px;
  background: #849D95;
  border-radius: 12px;

  display:flex;
  justify-content: center;
  align-items: center;
}

.save a:hover {
  cursor: pointer;
  color:#FEF6E9;
}


.titleContainer {
  position: absolute;
  width: 775px;
  height: 142px;
  left: 393px;
  top: 92px;
  border-radius: 1px;
}

.title {
  position: absolute;
  left: 20.5px;
  top: 5px;

  font-size: 18px;
  color: #1E2735;
}

.titleBackground {
  position: absolute;
  width: 775px;
  height: 107px;
  top: 34.5px;

  background: #1E2735;
  border-radius: 20px;
}

.heading {
  position: absolute;
  width: 728px;
  left: 33px;
  top: 30px;

  font-size: 20px;

  color: #FEF6E9;
}

.img {
  position: absolute;
  width: 185px;
  height: 100px;
  left: 1200px;
  top: 130px;

}

.imgBg {
  width: 185px;
  height: 77px;

  background: #1E2735;
  border-radius: 15px;
}

.imgBg a {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}


.imgDes {
  width: 185px;
  height: 24px;
  margin: 5px 0px 0px 0px;

  background: #1E2735;
  border-radius: 15px;
}

.imgDes a { 
  

  color:#2D3A4F;
  padding: 25px;
}