.container {
  width: 867px;
  height: 867px;
  left: 0px;
  top: 0px;
}


.navContainer {
  position: absolute;
  width: 283px;
  height: 787px;
  left: 40px;
  top: 40px;

  background: #2D3A4F;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.navContainer a {
  color: #849D95;
  font-size: 14px;
  font-style: normal;
  top: 40px;
  padding: 0px;
  margin: 5px;
  cursor: pointer;


  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.navContainer li{
  list-style: none;

  display: flex;
  align-items: center;
}

.navContainer a:hover,
.navContainer a:focus,
.navContainer a:active {
  color:#FEF6E9;
}

.navContainer img {
  position: absolute;
  background:#849D95;
}

.nav {
  position: absolute;
  top: 20px;
}

.mainMenu {
  position: absolute;
  width: 250px;
  height: 138px;
  top: 30px;
}

.bar {
  position: absolute;
  left: 40px;
  top: 200px;
}

.settings {
  position: absolute;
  width: 250px;
  height: 159px;
  top: 220px;
}


.mainContainer {
  position: absolute;
  width: 1037px;
  height: 789px;
  left: 366px;
  top: 36px;
  
  background: #2D3A4F;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.saveContainer {
  position: absolute;
  width: 189px;
  height: 41px;
  left: 815px;
  top: 30px;
 
  display:flex;
  flex-direction: row;
  align-items: center;
}
.saveContainer svg {
  height: 100%;
  width: 100%;
}

.discard {
  font-family: Supreme;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163.19%;
  /* or 29px */
 
  color: #FEF6E9;
}

.discard a {
  height: 41px;
  width: 93px;
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.discard a:hover {
  cursor: pointer;
}

.save {
  font-family: Supreme;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* or 29px */
  
  color: #2D3A4F;
}

.save a {
  height: 41px;
  width: 93px;
  background: #849D95;
  border-radius: 12px;

  display:flex;
  justify-content: center;
  align-items: center;
}

.save a:hover {
  cursor: pointer;
  color:#FEF6E9;
}


.titleContainer {
  position: absolute;
  width: 775px;
  height: 142px;
  left: 393px;
  top: 92px;
  border-radius: 1px;
}

.title {
  position: absolute;
  left: 20.5px;
  top: 5px;

  font-size: 18px;
  font-weight: 400;
  color: #1E2735;
}

.titleBackground {
  position: absolute;
  width: 775px;
  height: 107px;
  top: 34.5px;

  background: #1E2735;
  border-radius: 20px;
}

.heading {
  position: absolute;
  width: 728px;
  left: 33px;
  top: 30px;

  font-size: 20px;

  color: #FEF6E9;
}

.imgContainer {
  position: absolute;
  width: 185px;
  height: 100px;
  left: 1185px;
  top: 128px;

}

.imgBackground {
  width: 185px;
  height: 77px;

  background: #1E2735;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBackground :hover {
  cursor: pointer;
}

.imgDescription {
  width: 185px;
  height: 24px;
  margin: 5px 0px 0px 0px;

  font-family: SupremeLight;
  font-size: 14px;
  background: #1E2735;
  border-radius: 15px;
}

.imgDescription a { 
  color:#2D3A4F;
  padding: 15px;
}
.bodyContainer {
  position: absolute;
  width: 977px;
  height: 371px;
  left: 393px;
  top: 252px;
}

.bodyText {
 position: absolute;
  width: 227px;
  height: 33.72px;
  left: 20.5px;
  
  font-size: 18px;
  color: #1E2735;
}

.bodyBackground {
  position: absolute;
  width: 977px;
  height: 335px;
  top: 33px;

  font-family: SupremeLight;
  font-size: 16px;
  background: #1E2735;
  border-radius: 20px;
}

.bodyContent {
  position: absolute;
  width: 904px;
  height: 294px;

  padding: 27px;
}

.formattingContainer {
  position: absolute;
  width: 885px;
  height: 25px;
  left: 485px;
  top: 254px;


}

.textSelectors a {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

  
  font-size: 13px;
  background: #1E2735;
}

.textSelectors :hover {
  cursor: pointer;
}

.timeContainer {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 450px;
  bottom: 1px;

  background: #1E2735;
  border-radius: 10px;
}

.timeContent {
  margin: 3px 12px;
  color:#2D3A4F;
  font-size: 12px;

  display: flex;
  flex-direction: row-reverse;
}

.dateContainer {
  position: absolute;
  width: 136px;
  height: 24px;
  top: 0px;
  left: 535px;

}

.dateTitle {
  color: #1E2735;
}

.dateContent {
  position: absolute;
  width: 86px;
  height: 24px;
  bottom: 0px;
  left: 45px;

  font-size: 12px;
  background: #1E2735;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  position: absolute;
  width: 185px;
  height: 24px;
  top: 0px;
  left: 700px;
  padding: 10px;

  font-size: 12px;
  background:#1E2735;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomArrow {
  position: absolute;
  left: 165px;

  display: flex;
  align-items: center;
}


.metaContainer {
  position: absolute;
  width: 647px;
  height: 68px;
  left: 393px;
  top: 635px;

  background: #1E2735;
  border-radius: 20px;
}

.metaContent {
  width: 595px;
  height: 44px;
  padding: 23px;

  font-family: SupremeLight;
  font-size: 14px;
  color: #2D3A4F;
}


.titleTagContainer {
  position: absolute;
  width: 316px;
  height: 68px;
  left: 1054px;
  top: 635px;

  background: #1E2735;
  border-radius: 15px;
}

.titleTagContent {
  width: 289px;
  height: 49px;
  top: 642px;
  left: 1067px;
  padding: 23px;

  font-family: SupremeLight;
  font-size: 14px;
  color:#2D3A4F;

}


.tagContainer {
  position: absolute;
  width: 316px;
  height: 89px;
  left: 1054px;
  top: 716px;
  padding: 15px;
 

  background: #1E2735;
  border-radius: 20px;

  display: flex;

}


.tagContent1 {
  width: 60px;
  height: 21.07px;
  margin: 5px;
  

  background: #2D3A4F;
  border-radius: 15px;

  display: flex;
  justify-content: center;
}


.tagContent2 {
  width: 68.07px;
  height: 21px;
  margin: 5px;

  background: #2D3A4F;
  border-radius: 15px;

  display: flex;
  justify-content: center;
}

.tagContent3 {
  width: 40.69px;
  height: 20px;
  margin: 5px;

  background: #2D3A4F;
  border-radius: 15px;

  display: flex;
  justify-content: center;
}


.authorContainer {
  position: absolute;
  width: 100px;
  height: 62px;
  left: 393px;
  top: 735px;
  
  display: flex;
  flex-direction: row;
  align-items: center;

}

.avatar1 img{
  height:100%;
  width: 80%;
  border-radius: 15px;
}

.avatar1 img:hover {
  cursor: grab;
}
.authorContainer svg:hover {
  cursor: pointer;
}
